{% load i18n %}
{% if form.non_field_errors %}
  <div class="errorlist" role="alert">
    <ul>{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
  </div>
{% endif %}
{% for field in form %}
  {% if not field.is_hidden %}
    <div class="form-row">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}<div class="muted">{{ field.help_text }}</div>{% endif %}
      {% if field.errors %}
        <ul class="errorlist" id="{{ field.auto_id }}_errors" role="alert">
          {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
  {% else %}
    {{ field }}
  {% endif %}
{% endfor %}
